@ccharset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
ul {
    list-style: none;
}
.clearfix::after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.inner {
    width: 1200px;
    margin: 0 auto;

}
.hoverUnder:hover{
    text-decoration: underline;
}
.modal-body .table tr .tac{
  vertical-align: middle;
}
#header{
  display: block;
  width: 100%;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 999999;
}
#header .time{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ed852d;
  font-weight: 600;
  background: url('../images/common/time-bg.png') no-repeat center left;
  background-size: 61px;
  font-size: 23px;
  letter-spacing: 1px;
  padding: 20px 0 20px 64px;
}
.bx-wrapper .imgSlider{
  position: absolute;
  content: "";
  z-index: 999999;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bx-wrapper .bx-controls-direction a{
  width: 30px;
}
.bx-wrapper .bx-next{
  right: 0;
}
.bx-wrapper .bx-prev{
  left: 0;
}
.bx-viewport{
  background-color: #fff;
}
.dropdown-menu{
  min-width: 151px;
}
.dropdown-menu li a{
  font-family: Roboto;
}
.headContent{
    width:100%;
    background-color: #1a1a1a;
    display: none;
}
.headContent .social-list{
    display: inline-block;
    padding:10px 0;
}
.headContent .social-list .mainMenu{
    width: 100%;
    display: inline-block;
}
.headContent .social-list .mainMenu .item{
    width: 100%;
    display: inline;
    padding: 0 5px;
}
.headContent .social-list .mainMenu .item a{
    color: #eb4947;
    font-size: 20px;
}
 /******** end social-list    ********/

.mainHead{
  width: 100%;
  padding: 9px 0;
  border-bottom: 1px solid #437abd;
  position: relative;
}
.mainHead .logoHead{
    float: left;
}
.mainHead .logoHead .logolink{
    display: block;
    width: 102px;
    height: 50px;
}

.mainHead .menu{
    float: right;
}
.mainHead .menu li{
  border-radius: 5px;
}
.mainHead .icon{
    display: none;
}
.mainHead .menu li .link-menu-head{
    display: inline-block;
    color: #437abd;
    font-family: Roboto;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 14px;
}
   /*end menu head*/

.dish-list{
    text-align: center;
    width: 100%;
    position: relative;
    background-color: #fff;
    z-index: 100;
    padding-top: 60px;
}
.bx-wrapper{
  z-index: 100;
}
.bx-wrapper img{
  width: 100%;
}
.dish-list .dish{
  display: inline-block;
  width: 279px;
  height: 184px;
  overflow: hidden;
  margin-right: 24px;
}
.dish-img{
    border-radius: 2px;
     width: 100%;
}
.dish-img:hover{
   transform: scale(1.2,1.2);
   transition: 0.5s;
}
.dish-list .dish:last-child {
    margin-right: 0;
}

/*end dish-list*/

.nav>li>a:hover, .nav>li>a:focus{
  background: #437abd;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: underline #ff811d;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background: #437abd;
  color: #fff !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background: #437abd;
  color: #ff811d;
}
.nav li a:hover{
    color: #ff811d;
}
#content{
    margin-top: 50px;
    position: relative;
}


/*end content*/

#footer
{
  width: 100%;
  position: relative;
  z-index: 100;
  background:rgba(60, 61, 62, 0.74);
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  padding: 28px 0;
  border-top: 1px solid #AAA;
  text-align: center;
  margin-top: 50px;
  color: #FFF;
  z-index: 1;
}
#footer::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 22;
  top: 0;
  background:rgba(60, 61, 62, 0.74);
}
.contact-us{
  position: relative;
  z-index: 23;
}
#footer::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image:url('../images/common/footer_img.jpg');
  filter: blur(2px);
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#footer .contact-us .title_contact{
  color: #FF812B;
  position: relative;
  z-index: 3;
  font-size: 40px;
  margin-top: 10px;
  font-weight: 900;
  margin-left: 3px;
  letter-spacing: 2px;
  width: 595px;
  display: inline-block;
  padding-bottom: 19px;
  margin: 0 auto;
  text-align: left;
}
#footer .contact-us .text_contact{
  text-align: left;
  width: 595px;
  color: #fff;
  position: relative;
  line-height: 2;
  z-index: 3;
  margin: 0 auto;
}
#footer .contact-us .text_contact a{
    color: #E1E1E1;
}
#footer .contact-us .text_contact a:hover{
  text-decoration: underline;
}
#footer p{
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:block;
    z-index: 25;
}

 #copyright{
   border-top: 1px solid #AEAEAE;
   background-color: rgba(77, 80, 83, 1);
   text-align: center;
   font-size: 12px;
   letter-spacing: 2px;
   padding: 10px 0;
   color: #fff;
   font-family: Roboto;
}
.customer_hr{
  border: 0;
  border-top: 2px solid #b6dfed;
  margin: 10px 450px;
}
.collapse{
  display: block;
  visibility: visible;
}
.sp{
  display: none;
}
.navbar-toggler{
  display: none;
}
.cover_info{
  width: 595px;
  float: left;
}
.mail_info{
  float: right;
  width: 390px;
}
.mail_info .tx_erae textarea{
  width: 390px;
  background-color: transparent;
  resize: none;
  text-indent: 4px;
  border: 1px solid #fff;
  margin-top: 10px;
}
  ::placeholder {
      color:#908484;
      opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:#908484;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
     color:#908484;
  }
.mail_info .btn-send{
  text-align: left;
  margin-top: 10px;
}
.mail_info .btn-send button{
  border: none;
  color: #fff;
  background: #FF812B;
  padding: 8px 30px;
}
.mail_info .tx_input .info_name{
  padding: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 190px;
}
.mail_info .tx_input .info_name:last-child{
  margin-right: 0;
}
@media screen and (max-width: 1240px){
    .inner{
        width: 100%;
        padding: 4%;
    }
    .dish-list{
        display: none;
    }
    #footer .contact-us .title_contact{
      width: 100%;
      font-size: 33px;
    }
    #footer .contact-us .text_contact{
      width: 100%;
    }

}


@media screen and (max-width: 1024px){
    .inner{
        width: 100%;
        padding: 4%;
    }
    .dish-list{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .inner{
        width: 100%;
        padding: 0 3%;
    }

    .navbar-nav {
      display: none;
    }
    .navbar-toggler{
      color: #fff;
      background-color: #437abd;
      border: none;
      display: block;
      font-size: 30px;
    }
    .dropdown-menu{
      min-width: 100%;
    }
    .toogle_menu{
      display: block;
      position: absolute;
      background: #fff;
      right: 5%;
      top: 39px;
      z-index: 11;
      font-size: 10px;
    }
    .mainHead .menu li .link-menu-head{
        font-size: 10px;
        font-weight: bold;
        border: 1px solid;
        display: block;
        border-radius: 4px;
    }
    .sp{
      display: block;
    }
    .navbar-nav .open .dropdown-menu{
      position: absolute;
      background-color: #fff;
    }

    #header{
      position: relative;
    }
    #header .time{
      position: relative;
      width: 56%;
      font-size: 2.4vw;
      margin: 0 auto;
      margin-top: 25px;
      background: none;
      text-align: right;
      padding: 0;
      left: 34%;
    }
    .bx-wrapper .imgSlider{
      width: 50%;
    }

}
@media screen and (max-width: 737px){

}
@media screen and (max-width: 668px){

}
@media screen and (max-width: 668px){

}
@media screen and (max-width: 415px){
    .inner{
        width: 100%;
        padding: 0 4%;
    }
    .mainHead .menu li .link-menu-head{
        font-size: 10px;
        font-weight: bold;
        border: 1px solid;
        display: block;
        border-radius: 4px;
    }
    .toogle_menu{
      right: 7.5%;
    }
    #copyright{
        font-size: 3.6vw;
    }
}
@media screen and (max-width:376px){

}
@media screen and (max-width: 321px){
    .inner{
        width: 100%;
        padding: 0 4%;
    }
    .mainHead{
        position: relative;
    }
    .mainHead .menu{
        display: block;
        padding: 0;
        font-size: 10px;

    }

    .mainHead .menu li{
      text-align: right;
    }
    .mainHead .menu li .dropdown-menu li{
      float: unset;
      text-align: center;
    }
    .mainHead .menu li .link-menu-head{
      font-size: 12px;
    }
    .collapse{
      visibility:visible;
    }
    .mainHead .menu .item{
        display: block;
        text-align: left;
        padding: 10px;

    }
    .mainHead .menu .item .link-menu-head{
        display: block;
    }
    .mainHead .menu.show{
        display: block;
        z-index: 10000;
    }
    .mainHead .icon{
        position: absolute;
        display: block;
        font-size: 30px;
        color:#fff;
        right: 20px;
        top: 20px;
    }
}
