#content{
  min-height: 426px;
  padding-top: 85px;
  background-color: #F9F9F9;
}
#footer{
  margin-top: 0;
}
.product{
  overflow: hidden;
  margin: 0 auto;
  width: 800px;
  padding-bottom: 50px;
  border:1px solid #ed852d;
  padding: 10px;
  margin-bottom:  10px;
}
.image_product{
  float: left;
  width: 300px;
  min-height: 300px;
}
.image_product .cover_img{
  border: 1px solid #437abd;
  padding: 5px;
  width: 100%;
}
.image_product .cover_img img{
  width: 100%;
}
.info_product{
  float: left;
  margin-left: 50px;
  width: 400px;
  padding: 15px;
  min-height: 300px;
}
.title_product{
  color: #FF812B;
  font-family: Roboto;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.info_product .name_product{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.info_product .description{
  font-size: 16px;
  font-family: Roboto;

}
.info_product .price{
  font-size: 16px;
  color: #f92a2a;
  font-family: Roboto;
}
