#footer
{
  width: 100%;
  position: relative;
  z-index: 100;
  background:rgba(60, 61, 62, 0.74);
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  padding: 28px 0;
  border-top: 1px solid #AAA;
  text-align: center;
  margin-top: 50px;
  color: #FFF;
  z-index: 1;
}
#footer::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 22;
  top: 0;
  background:rgba(60, 61, 62, 0.74);
}
.contact-us{
  position: relative;
  z-index: 23;
}
#footer::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image:url('../images/common/footer_img.jpg');
  filter: blur(2px);
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#footer .contact-us .title_contact{
  color: #FF812B;
  position: relative;
  z-index: 3;
  font-size: 40px;
  margin-top: 10px;
  font-weight: 900;
  margin-left: 3px;
  letter-spacing: 2px;
  width: 595px;
  display: inline-block;
  padding-bottom: 19px;
  margin: 0 auto;
  text-align: left;
}
#footer .contact-us .text_contact{
  text-align: left;
  width: 595px;
  color: #fff;
  position: relative;
  line-height: 2;
  z-index: 3;
  margin: 0 auto;
}
#footer .contact-us .text_contact a{
    color: #E1E1E1;
}
#footer .contact-us .text_contact a:hover{
  text-decoration: underline;
}
#footer p{
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:block;
    z-index: 25;
}

 #copyright{
   border-top: 1px solid #AEAEAE;
   background-color: rgba(77, 80, 83, 1);
   text-align: center;
   font-size: 12px;
   letter-spacing: 2px;
   padding: 10px 0;
   color: #fff;
   font-family: Roboto;
}



#header{
  display: block;
  width: 100%;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 999999;
}
#header .time{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ed852d;
  font-weight: 600;
  background: url('../images/common/time-bg.png') no-repeat center left;
  background-size: 61px;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 20px 0 20px 64px;
}


@media all and (max-width: 768px) {
  .mail_info{
    width: 100%;
  }
  .mail_info .tx_input .info_name{
    width: 45%;
    float: left;
  }
  .mail_info .tx_erae textarea{
    width: 100%;
    resize: none;
    text-indent: 4px;
    margin-top: 10px;
  }
}
