.titleGuide{
	font-size: 35px;
	padding-bottom: 30px;
}

.contentGuide{
	width: 100%;
}
.contentGuide .line{
	padding-bottom: 10px;
}
.contentGuide .line .num-line{
	font-size: 18px;
	font-weight: bold;
}
.contentGuide .line .text-line{
	font-size: 16px;
}
.contentGuide .line .text-line i{
	font-size: 16px;
	color:blue;
	cursor: pointer;
}
.img-line{
	width: 80%;
	padding: 30px 0;
}
.noteGuide{
	font-size: 18px;
    color: red;
    padding-top: 50px;
}
.thanksGuide{
	font-size: 30px;
    color: green;
    padding-top: 20px;
}