.slider {
    position: relative;
    height: 99vh;
}
.slider ul li{
  line-height: 0;
}
.slider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    z-index: 991;
}

.slider .imgSlider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    width: 400px;
}

.bx-wrapper {
    background: rgba(255, 255, 255, 0.5);
}
.titlePage{
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  width: 200px;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 50px;
  background: #fff;
  font-family: Roboto.;
  z-index: 1;
}
.titlePage::after{
  background-image: url('../images/common/icon_bakery.png');
  background-size: contain;
  background-repeat: repeat;
  content: "";
  position: absolute;
  z-index: 2;
  width: 88%;
  height: 100%;
  right: 102%;
  top: -2px;
}
.titlePage::before{
  background-image: url('../images/common/icon_bakery.png');
  background-size: contain;
  background-repeat: repeat;
  content: "";
  position: absolute;
  z-index: 2;
  width: 88%;
  height: 100%;
  left: 102%;
  top: -2px;
}
.mainContent_top{
  margin: 2% 0% 3% 0%;
  width: 100%;
}

.cart-content{
  position: fixed;
  top: 52%;
  z-index: 1;
  width: 100px;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 9999;
  border: 1px solid #ed852d;
  border-left: none;
}
.text-cart:first-child{
    border-bottom: 1px solid #ccc;
}
.text-cart{
  cursor: pointer;
  color: #fff;
  font-size: 32px;
  display: block;
  background: #ed852d;
  text-align: center;
  padding: 10px 0;
  border-top: transparent;
  transition: all 0.25s;
}
.cart-content .text-cart:focus{
  color: #fff;
  background:#ed852d;
}
.cart-content .text-cart:hover{
  color: #ed852d;
  background: #fff;
}
.text-cart:hover .cart-content {
    background: #fff;
}
.mainContent_top1{
  float: left;
}
.mainContent_top1 .text{
 border-radius: 8px;
 width: 130%;
 height: 60px;
}
.mainContent_top2{
  float: right;
}
.btn-cart{
  height: auto;
  border-radius: 3px;
}
.btn-cart:hover{
  color: #f0ad4e;
  background:#fff;
}
.mainContent_top2 .buttom{
  background-color: #4CAF50;
     border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.mainContent{
}
.boxItem{
  display: inline-block;
  margin-right: 25px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 8px;
  background: white;
  vertical-align: top;
  width: 278px;
  text-align: center;
}
.boxItem:nth-child(4n){
 margin-right: 0;
}
.navbar-collapse{
  padding-right: 0;
}

.boxItem h3{
  text-align: center;
  font-size: 18px;
  color: #000!important;
  font-size: 18px!important;
  font-weight: 700;
  font-family: Roboto;
  }
  .boxItem .boxImage{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 73%;
  }
  .boxItem .boxImage img{
    width: 100%;
    height: 100%;
  }
.boxItem .boxImage img:hover{
   transform: scale(1.2,1.2);
     transition: 0.5s;
}

.boxItem p{
 text-align: center;
 font-size: 18px;

}
/*.boxItem input{
 margin: auto;
 padding-right: 0px;
 font-size: 80%;

}*/

/*.boxItem input{
    border-radius: 5px;
    font-family: initial;
    background: red;
    color: white;
}
*/
.titleBox_p1{
  color: #f92a2a;
  font-family:Roboto;
  margin: 5px 0;
}
.titleBox_div{
  width: 100%;
  border:2px;
}
.titleBox h3{
  margin-top: 16px;
}
.titleBox_p2{
    margin-left: 6px;
    background-color: #e67c23;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.wrap-text{
  position: relative;
  overflow: hidden;
}
.titleBox_textarea{
/*  margin-left: 10px;*/
  padding-left: 10px;
  display: none;
  border-radius: 8px;
  width: 75%;
  height: 60px;
  max-width: 202.5px;
  float: left;
  resize: none;
}
.boxItem .wrap-text .buttom{
  position: absolute;
  top: 50%;
  transform: translateY(-59%);
  right: 0;
  border-radius: 5px;
  font-family: initial;
  background: red;
  color: white;
}






.mainContent_bot{
  border: 2px ;
  border-radius: 8px;
  width: 70%;
  margin: auto;
  position: relative;
  margin-top: 50px;
  height: 150px;
 background: #b6dfed;

}
.mainContent_tr1{
  font-size: 18px;
  position: absolute;
  top:-15px;
  left:9px;
  font-weight: bold;
}
.mainContent_tr2{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-top: 35px;
  color: black;

}
.mainContent_tr3{
  text-align: center;
  padding-top: 15px;

}
.mainContent_tr3 .buttom{
background-color: #4CAF50;
     border-radius: 8px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


















@media all and (max-width: 1216px) {
 .boxItem{
  width: 25%;
  }


}
@media all and (max-width: 1103px) {



  .boxItem{
  }
}



@media all and (max-width: 1024px) {

 .mainContent_field{

 }
  .boxItem {
  margin-left:4%;
  width: 30%;
 }

 .boxItem .wrap-text .buttom {
    position: absolute;
    top: 50%;
    transform: translateY(-59%);
    right: 0;
    border-radius: 5px;
    font-family: initial;
    background: red;
    color: white;
    font-size: 16px;

}






@media all and (max-width: 768px){
  .boxItem:nth-child(2n){
   margin-right:  0;
   margin-left: 0;
  }
  .slider .imgSlider{
    width: 40%;
  }
  .boxItem:nth-child(2n +1){
    margin-left: 1%;
    margin-right: 2%;
  }
  .cover_info{
    width: 100%;
  }
  .time{
    position: relative;
    margin-top: 28%;
    font-size: 10px;
  }
  .titlePage{
    width: 55%;
  }
  .titlePage::before{
    width: 42%;
  }
  .titlePage::after{
    width: 42%;
  }
  .boxItem{
        width: 46%;
  }
  .mail_info{
    width: 100%;
    margin-top: 5%;
  }
  .mail_info .tx_input{
    overflow: hidden;
  }
  .mail_info .tx_input .info_name{
    width: 47%;
    float: left;
  }
  .mail_info .tx_input .info_name:last-child{
    margin-left: 4%;
  }
  .mail_info .tx_erae textarea{
    width: 100%;
    resize: none;
    text-indent: 4px;
    margin-top: 10px;
  }
   .boxItem .wrap-text .buttom {
    position: absolute;
    top: 50%;
    transform: translateY(-59%);
    right: 12px;
    border-radius: 5px;
    font-family: initial;
    background: red;
    color: white;
    font-size: 17px;

}
.cart-content{
  width: 7%;
}
}

@media all and (max-width: 736px) {

  .boxItem {
  margin-left:3%;
  width: 48%;
 }

}





@media all and (max-width: 667px) {
  .boxItem .wrap-text .buttom {
    position: absolute;
    top: 50%;
    transform: translateY(-59%);
    right: 0px;
    border-radius: 5px;
    font-family: initial;
    background:brown;
    color: white;
    font-size: 16px;
}
.cart-content{
  width: 12%;
}
}

@media all and (max-width:568px){

 .boxItem .wrap-text .buttom{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 5px;
  font-family: initial;
  background: red;
  color: white;
  font-size: 78%;
}



}

@media all and (max-width:435px) {
  .boxItem {
  margin-left:2%;
  width: 47%;
 }


}




@media all and (max-width:414px) {
   .boxItem {
  margin:0%;
  width: 100%;
 }
 .boxItem:nth-child(n){
  margin:0%;
  margin-bottom: 30px;
 }
 .mainContent_top2{
  margin-right: 0px;
}
.boxItem .wrap-text .buttom{
    position: absolute;
    top: 50%;
    transform: translateY(-66%);
    right: 15px;
    border-radius: 5px;
    font-family: initial;
    background: yellow;
    color: white;
    font-size: 100%;
}

}




@media all and (max-width: 375px) {
 .cart-content{
   width: 11%;
 }
  .mainContent_top1{
 margin-left: 70px;
 }
 .mainContent_top2{
  margin-right: 110px;
}

 .boxItem .wrap-text .buttom{
    position: absolute;
    top: 50%;
    transform: translateY(-66%);
    right: 15px;
    border-radius: 5px;
    font-family: initial;
    background: green;
    color: white;
    font-size: 100%;
}

}


@media all and (max-width: 320px) {

 .boxItem {
  margin-left:0%;
 }
 .mainContent_top1{
 margin-left: 50px;
 }
 .mainContent_top2{
  margin-right: 85px;
}
.mainContent_tr3 .buttom{
background-color: #4CAF50;
     border-radius: 8px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0px 2px;
    cursor: pointer;
}
.boxItem .wrap-text .buttom{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 5px;
  font-family: initial;
  background: red;
  color: white;
}
.cart-content{
  width: 11%;
}
}
