<ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          <li class="active treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            </ul>
          </li>
          <li>
            <a href="pages/category/category.html">
             <i class="fa fa-cubes"></i> <span>Thể loại</span>
           </a>
         </li>
         <li>
          <li>
            <a href="pages/product/index.html">
             <i class="fa fa-cutlery"></i> <span>Sản phẩm</span>
           </a>
         </li>
         <li>
          <li>
            <a href="pages/invoice/index.html">
             <i class="fa fa-list-alt"></i> <span>Hóa đơn</span>
           </a>
         </li>
         <li>
          <li>
            <a href="pages/mailbox/mailbox.html">
              <i class="fa fa-envelope"></i> <span>Mailbox</span>
              <span class="pull-right-container">
                <small class="label pull-right bg-yellow">12</small>
                <small class="label pull-right bg-green">16</small>
                <small class="label pull-right bg-red">5</small>
              </span>
            </a>
          </li>
        </ul>